<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta content='IE=edge;chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width' name='viewport'>
  <title>A test Selmer template</title>
</head>
<body>
    <p>
        Unfortunately, the URL you requested: 
        <pre>{{slug}}</pre> 
        ...does not exist.
    </p>
    <p>
        <a href="/">Go home</a>
    </p>
    <img src="https://cdn.shopify.com/s/files/1/0207/3312/files/404-20131007-350x350.jpg?5344" />
</body>
</html>
