{% extends "base.html" %}

{% block content %}
<h4 style="text-decoration: underline;">
POSTS:
</h4>

<table id="posts_table" border="1" cellpadding="2" cellspacing="0">
    <tr style="font-weight: bold; background-color: #e0e0e0;">
        <td>&nbsp;</td>
        <td>Live?</td>
        <td>Date/Time</td>
        <td>Slug</td>
        <td>Title</td>
        <td>Content</td>
        <td>&nbsp;</td>
    </tr>
{% for post in posts %}
    <tr>
        <td><a href="/admin/post/edit/{{post.id}}" title="Edit post">Edit</td>
        <td>{% ifequal post.live 1 %}
            <span style="color: green; font-weight: bold;">Yes</span>
            {% else %}
            <span style="color: red;">No</span>
            {% endifequal %}
        </td>
        <td>{{post.dt}}</td>
        <td><a href="/{{post.slug}}" title="View post on site" target="_blank">{{post.slug}}</td>
        <td>{{post.title}}</td>
        <td>{{post.content}}</td>
        <td><a href="/admin/post/delete/{{post.id}}" title="View post on site" target="_blank">Delete</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
