{% extends "base.html" %}

{% block content %}
<h4 style="text-decoration: underline;">
NEW POST:
</h4>

<form id="new_post_form" name="new_post_form" action="" method="POST">
    <table id="new_form_table">
        <tr>
            <td valign="top">
                Live?
            </td>
            <td>
                <input type="radio" name="live" value="0" checked> No
                <input type="radio" name="live" value="1"> Yes
            </td>
        </tr>
        <tr>
            <td valign="top">
                Slug:
            </td>
            <td>
                <input type="text" id="slug" name="slug" size="75" maxlength="255" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                Title:
            </td>
            <td>
                <input type="text" id="title" name="title" size="75" maxlength="255" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                Content:
            </td>
            <td>
                <textarea id="content" name="content" rows="15" cols="85"></textarea>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top" colspan="2">
                <input type="submit" id="submit" name="submit" value=" Submit " />
            </td>
        </tr>
    </table>
</form>
{% endblock %}
