{% extends "base.html" %}

{% block content %}
<h4 style="text-decoration: underline;">
NEW POST:
</h4>

<form id="new_post_form" name="new_post_form" action="/post/new" method="POST">
    <input type="hidden" id="__anti-forgery-token" name="__anti-forgery-token" 
      value="{{anti-forgery-token}}" />
    <table id="new_form_table">
        <tr>
            <td valign="top">
                Live?
            </td>
            <td>
                <input type="radio" name="live" value="0" 
                    {% comment %} The point here is to provide a default state
                    for the radio button, in this case 0. Since only false and nil
                    are falsy, the two conditions are safe stacked together.
                    Im doing it this way because Selmer seems to not have a
                    way to express "else if", but I may be mistaken. Either way,
                    this way will keep things moving for now. {% endcomment %}
                    {% ifequal request.params.live nil %}checked{% endifequal %}
                    {% ifequal request.params.live 0 %}checked{% endifequal %}> No
                <input type="radio" name="live" value="1"
                    {% ifequal request.params.live 1 %}checked{% endifequal %}> Yes
            </td>
        </tr>
        <tr>
            <td valign="top">
                Slug:
            </td>
            <td>
                <input type="text" id="slug" name="slug" size="75" maxlength="255"
                    value="{{request.params.slug}}" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                Title:
            </td>
            <td>
                <input type="text" id="title" name="title" size="75" maxlength="255"
                    value="{{request.params.title}}" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                Content:
            </td>
            <td>
                <textarea id="content" name="content" rows="15" cols="85"
                    >{{request.params.content}}</textarea>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top" colspan="2">
                <input type="submit" id="submit" name="submit" value=" Submit " />
            </td>
        </tr>
    </table>
</form>

{% ifequal request.request-method :post %} {# Not super happy with this, but it's convenient for now. #}
    {% ifequal validation.result "false" %}
        <p>
        Oops! {{validation.msg}}.
        </p>
    {% endifequal %}
{% endifequal %}

{% endblock %}
